table {
  border: 2px solid;
  background-color: hsl(0, 39%, 51%);
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

button {
  font-size: 20px;
  background-color: rgb(182, 224, 67);
  color: rgb(89, 38, 156);
  border-radius: 15px
}

#greeting {
  font-size: 30px;
  color: rgb(89, 38, 156);
}